.card{
    border: none;
    margin: 50px;
    width: fit-content;
    align-items: center;
    /* margin-top: 200px; */
}
.container{
    /* margin-top: 50px; */
    /* margin-right: 50px; */
    /* margin-left: 60px; */
    /* margin-left:30px ; */
    margin-top: 150px;
    align-items: center;
}
.btn{
    width:100%;
    color: #ffffff; 
    background-color: #0CA789;
}
img{
    width: 150px; 
    margin-top: 100px;
}
.ultra{
    color: #ffffff; 
    margin-top: 10px;
}
.goals{
    text-align: center;
    color:#ffffff;
    margin-top: 30px;
}